.FormContact{
    display: flex;
    justify-content: center;
    color: #333;
    .Contact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
.contac-form{
    width: 40rem !important;
    
    .li-form{
        display: flex;
        flex-direction: column;
    }
    .input{
        background-image: linear-gradient(to left bottom, #041c1f, #071e25, #0b222b, #0c2631, #0b2937, #0a343b, #092e3f, #093743, #083245, #083b48, #083b4a, #064c48);
        color: #fff;
        margin-top: 1rem;
        width: 6rem;
        border-radius: 10%;
    }
}

@media screen and (max-width: 1024px){
.contac-form{
    width: 20rem !important;
}
}